.mat-mdc-table .mat-mdc-header-cell {
  text-transform: capitalize;
}

.custom-input {
  display: block;         // Ensures it doesn’t inline shrink
  width: 100%;
  max-width: 100%;        // Prevents overflow
  box-sizing: border-box; // Include padding + border in width
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;


  &:focus {
    border-color: #007bff;
    box-shadow: 0 0 2px rgba(0, 123, 255, 0.4);
  }

  &:disabled {
    background: #f5f5f5;
    color: #999;
    cursor: not-allowed;
  }
}
